# Churn Rate Analysis - SQL & Python Preview

### Hello! I’m Reed.  

I created this notebook to demonstrate my SQL and Python abilities. I created this notebook in consideration for the role of **Data Analyst, Revenue Strategy & Operations for FRNDLY TV**

My goals & prelimiary notes:  
- **Showcase SQL abilitiy**  
    - I walk through steps v1–v6, covering essential SQL concepts like `SELECT`, `WHERE`, `GROUP BY`, `CASE`, and aggregate functions.
    - Presenting SQL Code and projects is harder than say programming experience, so I decided on this format. It is my first time               connecting to MySQL from a Python terminal, so it should be fun!
    - I understand this is not SQL's primary industry use-case but I want to show I am familar with SQL & figured this would suffice. I am       familar and comfortable with joins/data-pipelines, but this example didn't require such.
- **Perform a basic churn analysis**  
    - Identify patterns in customer behavior, such as churn by service type, contract, and streaming usage.   
- **Highlight business insight skills**  
    - Segment customers by tenure and revenue, compute churn rates, and estimate lifetime value (LTV) to provide actionable metrics.
- **Python Visualization and Model Predictions** (if time allows)
    - I am proficient in Python & it is a more fitting language for this project, so I may add some extra elements at the end!

> This is by no means my best work and was put together in less than 5 hours. A simple example to show what I can do!

# v1. Import Process

In [1]:
!jupyter nbconvert --to html --template lab FRNDLY_TV_Project.ipynb
import pandas as pd
from sqlalchemy import create_engine

# Connect to MySQL
engine = create_engine("mysql+mysqlconnector://root:Jordan%40123@localhost:3306/TelcoDb")

# Load first 5 rows to check connection
df = pd.read_sql("SELECT * FROM Data LIMIT 5;", engine)
df

[NbConvertApp] Converting notebook FRNDLY_TV_Project.ipynb to html
[NbConvertApp] Writing 382732 bytes to FRNDLY_TV_Project.html

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.50,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

# v2.Basic Descriptive Analysis

In [2]:
# Total Columns
num_columns = pd.read_sql("""
SELECT COUNT(*) AS num_columns
FROM information_schema.COLUMNS
WHERE table_schema = 'TelcoDb' AND table_name = 'Data';
""", engine)
num_columns

   num_columns
0           21

In [3]:
# Total customers/rows
total_customers = pd.read_sql("SELECT COUNT(*) AS total_customers FROM Data;", engine)
total_customers

   total_customers
0             7032

In [4]:
# Churn counts
churn_counts = pd.read_sql("""
SELECT Churn, COUNT(*) AS count
FROM Data
GROUP BY Churn;
""", engine)
churn_counts

  Churn  count
0    No   5163
1   Yes   1869

# v3. Basic Numerical Analysis

In [5]:
# Monthly Charges by gender
monthly_by_gender = pd.read_sql("""
SELECT gender, 
       ROUND(AVG(MonthlyCharges), 2) AS avg_monthly_charge,
       ROUND(MIN(MonthlyCharges), 2) AS min_monthly_charge,
       ROUND(MAX(MonthlyCharges), 2) AS max_monthly_charge
FROM Data
GROUP BY gender;
""", engine)
monthly_by_gender

   gender  avg_monthly_charge  min_monthly_charge  max_monthly_charge
0  Female               65.22               18.40              118.75
1    Male               64.39               18.25              118.35

In [6]:
# Monthly charges by contract type
monthly_by_contract = pd.read_sql("""
SELECT Contract, 
       ROUND(AVG(MonthlyCharges),2) AS avg_monthly_charge
FROM Data
GROUP BY Contract;
""", engine)
monthly_by_contract

         Contract  avg_monthly_charge
0  Month-to-month               66.40
1        One year               65.08
2        Two year               60.87

In [7]:
# Top 10 customers by total charges
top_customers = pd.read_sql("""
SELECT customerID, tenure, MonthlyCharges, TotalCharges
FROM Data
ORDER BY TotalCharges DESC
LIMIT 10;
""", engine)
top_customers

   customerID  tenure  MonthlyCharges  TotalCharges
0  2889-FPWRM      72          117.80       8684.80
1  7569-NMZYQ      72          118.75       8672.45
2  9739-JLPQJ      72          117.50       8670.10
3  9788-HNGUT      72          116.95       8594.40
4  8879-XUAHX      71          116.25       8564.75
5  9924-JPRMC      72          118.20       8547.15
6  0675-NCDYU      72          116.40       8543.25
7  6650-BWFRT      72          117.15       8529.50
8  0164-APGRB      72          114.90       8496.70
9  1488-PBLJN      72          116.85       8477.70

# v4. Churn Analysis

In [8]:
# Churn by Internet Service Type
churn_by_internet = pd.read_sql("""
SELECT InternetService,
       SUM(CASE WHEN Churn = 'Yes' THEN 1 ELSE 0 END) AS churned_count,
       COUNT(*) AS total_count,
       ROUND(SUM(CASE WHEN Churn = 'Yes' THEN 1 ELSE 0 END) / COUNT(*) * 100, 2) AS churn_rate_pct
FROM Data
GROUP BY InternetService
ORDER BY churn_rate_pct DESC;
""", engine)
churn_by_internet

  InternetService  churned_count  total_count  churn_rate_pct
0     Fiber optic         1297.0         3096           41.89
1             DSL          459.0         2416           19.00
2              No          113.0         1520            7.43

In [9]:
# Churn for customers with ONLY Internet Service
churn_only_internet = pd.read_sql("""
SELECT InternetService,
       SUM(CASE WHEN Churn = 'Yes' THEN 1 ELSE 0 END) AS churned_count,
       COUNT(*) AS total_count,
       ROUND(SUM(CASE WHEN Churn = 'Yes' THEN 1 ELSE 0 END) / COUNT(*) * 100, 2) AS churn_rate_pct
FROM Data
WHERE PhoneService = 'No' 
  AND StreamingTV = 'No' 
  AND StreamingMovies = 'No' 
  AND TechSupport = 'No'
GROUP BY InternetService
ORDER BY churn_rate_pct DESC;
""", engine)
churn_only_internet

  InternetService  churned_count  total_count  churn_rate_pct
0             DSL           63.0          182           34.62

In [10]:
# Churn by Streaming TV service
churn_by_streaming = pd.read_sql("""
SELECT StreamingTV,
       SUM(CASE WHEN Churn = 'Yes' THEN 1 ELSE 0 END) AS churned_count,
       COUNT(*) AS total_count,
       ROUND(SUM(CASE WHEN Churn = 'Yes' THEN 1 ELSE 0 END) / COUNT(*) * 100, 2) AS churn_rate_pct
FROM Data
GROUP BY StreamingTV
ORDER BY churn_rate_pct DESC;
""", engine)
churn_by_streaming

           StreamingTV  churned_count  total_count  churn_rate_pct
0                   No          942.0         2809           33.54
1                  Yes          814.0         2703           30.11
2  No internet service          113.0         1520            7.43

# v5. Customer Segmentation

In [11]:
# Create tenure & revenue segments
customer_segments = pd.read_sql("""
SELECT customerID,
       CASE 
           WHEN tenure >= 48 THEN 'Long-Term'
           WHEN tenure BETWEEN 24 AND 47 THEN 'Mid-Term'
           ELSE 'New'
       END AS tenure_segment,
       CASE 
           WHEN MonthlyCharges >= 80 THEN 'High-Paying'
           WHEN MonthlyCharges BETWEEN 40 AND 79 THEN 'Medium-Paying'
           ELSE 'Low-Paying'
       END AS revenue_segment,
       Churn
FROM Data;
""", engine)
customer_segments

      customerID tenure_segment revenue_segment Churn
0     7590-VHVEG            New      Low-Paying    No
1     5575-GNVDE       Mid-Term   Medium-Paying    No
2     3668-QPYBK            New   Medium-Paying   Yes
3     7795-CFOCW       Mid-Term   Medium-Paying    No
4     9237-HQITU            New   Medium-Paying   Yes
...          ...            ...             ...   ...
7027  6840-RESVB       Mid-Term     High-Paying    No
7028  2234-XADUH      Long-Term     High-Paying    No
7029  4801-JZAZL            New      Low-Paying    No
7030  8361-LTMKD            New   Medium-Paying   Yes
7031  3186-AJIEK      Long-Term     High-Paying    No

[7032 rows x 4 columns]

In [12]:
# Counts + churn rates by segment
segment_churn = pd.read_sql("""
SELECT tenure_segment, revenue_segment,
       SUM(CASE WHEN Churn = 'Yes' THEN 1 ELSE 0 END) AS churned_count,
       SUM(CASE WHEN Churn = 'No' THEN 1 ELSE 0 END) AS retained_count,
       ROUND(SUM(CASE WHEN Churn = 'Yes' THEN 1 ELSE 0 END) / COUNT(*) * 100, 2) AS churn_rate_pct
FROM (
    SELECT customerID,
           CASE 
               WHEN tenure >= 48 THEN 'Long-Term'
               WHEN tenure BETWEEN 24 AND 47 THEN 'Mid-Term'
               ELSE 'New'
           END AS tenure_segment,
           CASE 
               WHEN MonthlyCharges >= 80 THEN 'High-Paying'
               WHEN MonthlyCharges BETWEEN 40 AND 79 THEN 'Medium-Paying'
               ELSE 'Low-Paying'
           END AS revenue_segment,
           Churn
    FROM Data
) AS segments
GROUP BY tenure_segment, revenue_segment
ORDER BY churn_rate_pct DESC;
""", engine)
segment_churn

,tenure_segment,revenue_segment,churned_count,retained_count,churn_rate_pct
0,New,High-Paying,501.0,292.0,63.18
1,New,Medium-Paying,569.0,743.0,43.37
2,Mid-Term,High-Paying,232.0,434.0,34.83
3,New,Low-Paying,238.0,762.0,23.80
4,Mid-Term,Medium-Paying,79.0,438.0,15.28
5,Long-Term,High-Paying,177.0,1040.0,14.54
6,Mid-Term,Low-Paying,28.0,413.0,6.35
7,Long-Term,Medium-Paying,34.0,515.0,6.19
8,Long-Term,Low-Paying,11.0,526.0,2.05

# v6. Other Important Metrics

In [13]:
# Estimated Customer Lifetime Value (LTV)
ltv = pd.read_sql("""
SELECT customerID, tenure, MonthlyCharges,
       ROUND(MonthlyCharges * tenure, 2) AS estimated_LTV
FROM Data
ORDER BY estimated_LTV DESC
LIMIT 10;
""", engine)
ltv

   customerID  tenure  MonthlyCharges  estimated_LTV
0  7569-NMZYQ      72          118.75        8550.00
1  9924-JPRMC      72          118.20        8510.40
2  2889-FPWRM      72          117.80        8481.60
3  3810-DVDQQ      72          117.60        8467.20
4  9739-JLPQJ      72          117.50        8460.00
5  6904-JLBGY      72          117.35        8449.20
6  6650-BWFRT      72          117.15        8434.80
7  8984-HPEMB      71          118.65        8424.15
8  9788-HNGUT      72          116.95        8420.40
9  1488-PBLJN      72          116.85        8413.20

# Further, Python Analysis
Questions/Problems that I have come up with and are worth looking into :
 - **A Model that predicts churn rate**
     - **Why :** To proactively identify customers that have high chances of leaving, giving time to make decisions based on retention
 - **Correlation values in reference to churn rate**
     - **Why :** Understanding what factors correlate with churn rate can help indicate improvements to the business
 - **Customer Segmentation with Clustering ML-Models**
     - **Why :** Targeted marketing, specific product development, etc.


> Section included to show further project development & business applications

# Predicting Churn Rate

Before we begin, I want to pose some limitations :
- Dataset is relatively small to apply any too terribly complex models due to overfitting
- Customer information lacking (i.e. dataset missing : location, email, age, phonetype, etc.)

I will make two models :
- **Logistic Regression** - simple, easily interpretable
- **Random Forest** (or some other tree-based model) - model known and praised for its "Out-of-the-bag" accuracy

> In hindsight, I only made one model :)

### Model 1 : Logistic Regression 
> (do not feel like you have to read this, only look at the results below!)

In [14]:
# Import packages
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report, roc_auc_score

# 2 Load dataset
df = pd.read_csv('TelcoDS.csv')
df 

# 3 Preprocessing
    # churn to numeric
df['Churn'] = df['Churn'].map({'Yes': 1, 'No': 0})    
    # Categorical variable selection
categorical_cols = df.select_dtypes(include=['object']).columns.tolist()
categorical_cols = [col for col in categorical_cols if col != 'customerID']
    # Categorical variable encoding
for col in categorical_cols:
    df[col] = LabelEncoder().fit_transform(df[col].astype(str))
    # Scale for easier/faster convergence (specifically thinking about monthly charges here)
numeric_cols = df.select_dtypes(include=['int64','float64']).columns.tolist()
numeric_cols.remove('Churn')  # exclude target
scaler = StandardScaler()
df[numeric_cols] = scaler.fit_transform(df[numeric_cols])
# 4 Split dataset
X = df.drop(columns=['customerID', 'Churn'])
y = df['Churn']

X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42, stratify=y
)

# 5 Train Model :)
lr_model = LogisticRegression(max_iter=1000000)
lr_model.fit(X_train, y_train)

# 6 Predictions & Accuracy :
y_pred = lr_model.predict(X_test)
y_prob = lr_model.predict_proba(X_test)[:, 1]

print("Our Accuracy is:", round(accuracy_score(y_test, y_pred),3), "%")

Our Accuracy is: 0.796 %

In [15]:
# Feature Importance
feature_importance = pd.DataFrame({
    'Feature': X.columns,
    'Coefficient': lr_model.coef_[0]
}).sort_values(by='Coefficient', key=abs, ascending=False)

feature_importance

             Feature  Coefficient
17    MonthlyCharges     0.832013
4             tenure    -0.819272
14          Contract    -0.621324
5       PhoneService    -0.279895
8     OnlineSecurity    -0.237450
11       TechSupport    -0.217726
15  PaperlessBilling     0.189553
7    InternetService     0.188206
9       OnlineBackup    -0.119834
3         Dependents    -0.112431
18      TotalCharges     0.110899
6      MultipleLines     0.101412
16     PaymentMethod     0.099252
10  DeviceProtection    -0.064108
1      SeniorCitizen     0.063455
2            Partner     0.020147
12       StreamingTV     0.013130
13   StreamingMovies     0.011737
0             gender     0.006605

## So what does this all mean & how can the model be used?

### Results & explanation of the feature importance :
- Coefficients here have two attributes : 1. Magnitude (how big, how small 0-1) 2. Sign (positive, negative)
    - Magnitude reflects how much an influence on churn rate the variable has - i.e MonthlyCharges value has the highest affect on churn rate
    - Sign reflects in which direction - positive reflects that this variable INCREASES churn rate - i.e. high tenure value decreases probablity to churn
- We can group these effects now :
    - Increases likelihood of churn (positive impact): Monthly Charges, PaperLess Billing, and Internet Service
    - Decreases likelihood of churn (negative impact): tenure, contract, phoneservice, online security, etc - hinting these are "good" services

### What business decisions can we make with this?
- Can directly compute customers with high churn rate probability.
- High MonthlyCharges → high churn: Consider evaluating pricing plans or bundling services to reduce churn
- Services that reduce churn should be advertised more, with the idea of keeping customers for longer